*{
    padding: 0;
    margin: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        box-sizing: border-box;
    }
header{
    display: flex;
    background-color:#ffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;

}
.myntra-logo{
    height: 45px;
}
.logo-cat{
    margin-left: 4%;
}
.action-bar{
    margin-right: 4%;
}
.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
    
}
.nav_bar a{
    letter-spacing: .3px;
    color: black;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;

}
.nav_bar a:hover{
    border-bottom: 4px solid #ff3f6c;

    
}
.nav_bar  a sup {
    color: red;
    font-size: 10px;
}
.search-bar{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}
.search-icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.120);
    color: rgba(27, 26, 26, 0.693);
    font-weight: 300;
    border-radius: 4px 0 0 4px;

}
.search-input{
    color: rgb(207, 206, 206);
    background-color: rgba(128, 128, 128, 0.120);

    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
}
.action-bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.action-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.action_cont  {
    display: flex;
    min-width: 35px;
    text-decoration: none;
    color: black;
    flex-direction: column;
    align-items: center;

}
/* main banner start */
.footer-cont{
    padding: 30px 0 40px 0px;
    background: #dedfdfa2;
    display: flex;
    justify-content: space-evenly;
}
.footer-colo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-colo h3{
    font-size: 15px;
    margin-bottom: 25px;
    color: #3e4152;
}
.footer-colo a{
    font-size: 15px;
    text-decoration: none;
    color: #696b79;
    padding-bottom: 5px;
}
.copyright{
    text-align: end;
    color: #94969f;
    padding: 15px;
}
.item-cont{
    width: 80%;
    margin: 50px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item-cont{
    width: 80%;
    margin:40px 10%;

}
.items-cont{
    width: 220px;
    margin: 10px;

}
.image{
    width: 100%;

}
.rating{
    font-size:12px ;
    font-weight: 700;

}
.company-name{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;

}
.item-name{
color: #535766;
font-size: 14px;
line-height: 1;
margin-bottom:0;
margin-top: 0;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-weight: 400;
display: block;
}
.price{
    margin-top: 12px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;

}
.current-price{
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;

}
.original-price{
    font-size: 12px;
    font-weight: 400;
    color: #282c3f;
    text-decoration: line-through;
    margin-left: 8px;
}
.discount{
    font-size: 12px;
    font-weight: 400;
    color: rgba(237, 36, 36, 0.671);
    margin-left: 5px;
}

.add-to-bag{
    background-color: #ff3f6c;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
}
.bag-item-count{
    background-color: red;
    white-space: nowrap;
    text-align: center;
    line-height: 17px;
    padding: 0 6px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    left: 15px;
    top: -44px;
    font-weight: 700    ;
    cursor: pointer;

}
